.contenedor {
  position: relative;
  height: 400px;
  border: 2px solid black;
}

.caja {
  width: 100px;
  height: 100px;
  color: rgb(0, 255, 55);
  text-align: center;
  line-height: 100px;
}

.caja1 { background: gray; }
.caja2 { background: blue; position: relative; top: 20px; left: 40px; }
.caja3 { background: green; position: absolute; top: 50px; right: 30px; }
.caja4 { background: red; position: fixed; bottom: 10px; right: 10px; }
